<div class="rlms-wrapper">
<div class="rlms-container add_branch" ng-controller="addBranchCtrl as ctrl">
	<h1 class="rlms-heading">Add Branch</h1>
	<div class="container-fluid" >
		<alert ng-show="showAlert" type="{{alert.type}}">
			<span ng-bind-html="alert.msg | safe_html"></alert>
		<form class="form-horizontal row-border" name="addBranchForm">
		<fieldset>
		  <legend>Branch Details</legend>
		  <div class="form-group">
				<label class="col-sm-3 control-label">Select Company</label>
				<div class="col-sm-6">
					  <ui-select ng-model="selectedCompany.selected" title="Choose a Company">
					    <ui-select-match placeholder="Select or search a company in the list...">{{$select.selected.companyName}}</ui-select-match>
					    <ui-select-choices repeat="companyIterator in companies| filter: $select.search">
					      <span ng-bind-html="companyIterator.companyName | highlight: $select.search"></span>
					    </ui-select-choices>
					  </ui-select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Branch Name</label>
				<div class="col-sm-6">
					<input name="branchName" type="text" placeholder="Required Field" required ng-model="addBranch.branchName" class="form-control">
					<span class="help-block"
						ng-show="addBranchForm.branchName.$error.required && addBranchForm.branchName.$dirty">This
						field is required</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Branch Address</label>
				<div class="col-sm-6">
					<input name="branchAddress" type="text" placeholder="Required Field"  ng-model="addBranch.branchAddress" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Area</label>
				<div class="col-sm-6">
					<input name="area" type="text"
						placeholder="Area"
						ng-model="addBranch.area" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">City</label>
				<div class="col-sm-6">
					<input name="city" type="text"
						placeholder="City"
						ng-model="addBranch.city" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Pincode</label>
				<div class="col-sm-6">
					<input name="pinCode" type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : this.value.length<6"
						ng-model="addBranch.pinCode" placeholder="Pincode" class="form-control">
				</div>
			</div>
		 </fieldset>
		
			<div class="panel-footer">
			<div class="row">
				<div class="col-sm-6">
					<span ng-click="backPage();" class=" button button-clear fa fa-chevron-circle-left go-back"></span>
				</div>
				<div class="col-sm-6 ">
					<div class="btn-toolbar">
						<button class="btn-primary btn" ng-disabled="addBranchForm.$invalid && addBranchForm.$pristine" ng-click="submitAddBranch()">Submit</button>
						<button class="btn-default btn" ng-click="resetAddBranch();">Reset</button>
					</div>
				</div>
			</div>
		</div>
		</form>
		
	</panel> 	
	</div>
</div>
</div>