<div class="rlms-wrapper">
<div class="rlms-container add_customer" ng-controller="addCustomerCtrl">
	<h1 class="rlms-heading">Add Customer</h1>
	<div class="container-fluid" >
		<alert ng-show="showAlert" type="{{alert.type}}">
			<span ng-bind-html="alert.msg | safe_html"></alert>
		<form class="form-horizontal row-border" name="addCustomerForm">
		<fieldset>
		  <legend>Customer Details</legend>
		  <div class="form-group">
				<label class="col-sm-3 control-label">Select Company</label>
				<div class="col-sm-6">
					  <ui-select ng-model="selectedCompany.selected" title="Choose a Company" on-select="loadBranchData()">
					    <ui-select-match placeholder="Select or search a company in the list...">{{$select.selected.companyName}}</ui-select-match>
					    <ui-select-choices repeat="companyIterator in companies| filter: $select.search">
					      <span ng-bind-html="companyIterator.companyName | highlight: $select.search"></span>
					    </ui-select-choices>
					  </ui-select>
				</div>
			</div>
			<div class="form-group">
					<label class="col-sm-3 control-label">Select Branch</label>
					<div class="col-sm-6">
						  <ui-select ng-model="selectedBranch.selected" title="Choose a Branch">
						    <ui-select-match placeholder="Select or search a branch in the list...">{{$select.selected.rlmsBranchMaster.branchName}}</ui-select-match>
						    <ui-select-choices repeat="branchIterator in branches| filter: $select.search">
						      <span ng-bind-html="branchIterator.rlmsBranchMaster.branchName | highlight: $select.search"></span>
						    </ui-select-choices>
						  </ui-select>
					</div>
				</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Customer Name</label>
				<div class="col-sm-6">
					<input name="firstName" type="text" placeholder="Required Field" required ng-model="addCustomer.firstName" class="form-control">
					<span class="help-block"
						ng-show="addCustomerForm.firstName.$error.required && addCustomerForm.firstName.$dirty">This
						field is required</span>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label">Address</label>
				<div class="col-sm-6">
					<input name="address" type="text" placeholder="Required Field" required ng-model="addCustomer.address" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Area</label>
				<div class="col-sm-6">
					<input name="area" type="text"
						placeholder="Area"
						ng-model="addCustomer.area" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">City</label>
				<div class="col-sm-6">
					<input name="city" type="text"
						placeholder="City"
						ng-model="addCustomer.city" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Pincode</label>
				<div class="col-sm-6">
					<input name="pinCode" type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : this.value.length<6"
						ng-model="addCustomer.pinCode" placeholder="Pincode" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Email ID</label>
				<div class="col-sm-6">
					<input name="emailID" type="email" placeholder="Required Field" required ng-model="addCustomer.emailID" class="form-control">
					<span class="help-block"
						ng-show="addCustomerForm.emailID.$error.required && addCustomerForm.emailID.$dirty">This
						field is required</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Contact Number</label>
				<div class="col-sm-6">
					<input name="cntNumber" type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : this.value.length<10" placeholder="Required Field" required ng-model="addCustomer.cntNumber" class="form-control">
					<span class="help-block"
						ng-show="addCustomerForm.cntNumber.$error.required && addCustomerForm.cntNumber.$dirty">This
						field is required</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Total Number Of Lifts</label>
				<div class="col-sm-6">
					<input name="totalNumberOfLifts" type="number" placeholder="Required Field" required ng-model="addCustomer.totalNumberOfLifts" class="form-control">
					<span class="help-block"
						ng-show="addCustomerForm.totalNumberOfLifts.$error.required && addCustomerForm.totalNumberOfLifts.$dirty">This
						field is required</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Customer Type</label>
				<div class="col-sm-6">
						  <ui-select ng-model="selectedCustomerTypes.selected" title="Choose a Branch">
						    <ui-select-match placeholder="Select or search a branch in the list...">{{$select.selected.name}}</ui-select-match>
						    <ui-select-choices repeat="iterator in customerTypes | filter: $select.search">
						      <span ng-bind-html="iterator.name | highlight: $select.search"></span>
						    </ui-select-choices>
						  </ui-select>
				</div>
			</div>
			<fieldset>
		 		 <legend>Chairman Details</legend>
				<div class="form-group">
					<label class="col-sm-3 control-label">Chairman Name</label>
					<div class="col-sm-6">
						<input name="chairmanName" type="text" placeholder="Chairman Name" ng-model="addCustomer.chairmanName" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Chairman Email</label>
					<div class="col-sm-6">
						<input name="chairmanEmail" type="email" placeholder="chairmanEmail" ng-model="addCustomer.chairmanEmail" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Chairman Number</label>
					<div class="col-sm-6">
						<input name="chairmanNumber" type="text" placeholder="Chairman Number" ng-model="addCustomer.chairmanNumber" class="form-control">
					</div>
				</div>
			</fieldset>
			<fieldset>
		 		 <legend>Secretary Details</legend>
				<div class="form-group">
					<label class="col-sm-3 control-label">Secretary Name</label>
					<div class="col-sm-6">
						<input name="secretaryName" type="text" placeholder="secretary Name" ng-model="addCustomer.secretaryName" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Secretary Email</label>
					<div class="col-sm-6">
						<input name="secretaryEmail" type="email" placeholder="secretaryEmail" ng-model="addCustomer.secretaryEmail" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Secretary Number</label>
					<div class="col-sm-6">
						<input name="secretaryNumber" type="text" placeholder="secretary Number" ng-model="addCustomer.secretaryNumber" class="form-control">
					</div>
				</div>
			</fieldset>
			<fieldset>
		 		 <legend>Treasurer Details</legend>
				<div class="form-group">
					<label class="col-sm-3 control-label">Treasurer Name</label>
					<div class="col-sm-6">
						<input name="treasurerName" type="text" placeholder="treasurer Name" ng-model="addCustomer.treasurerName" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Treasurer Email</label>
					<div class="col-sm-6">
						<input name="treasurerEmail" type="email" placeholder="treasurerEmail" ng-model="addCustomer.treasurerEmail" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Treasurer Number</label>
					<div class="col-sm-6">
						<input name="treasurerNumber" type="text" placeholder="treasurer Number" ng-model="addCustomer.treasurerNumber" class="form-control">
					</div>
				</div>
			</fieldset>
			<fieldset>
		 		 <legend>Watchmen Details</legend>
				<div class="form-group">
					<label class="col-sm-3 control-label">Watchmen Name</label>
					<div class="col-sm-6">
						<input name="watchmenName" type="text" placeholder="watchmen Name" ng-model="addCustomer.watchmenName" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Watchmen Email</label>
					<div class="col-sm-6">
						<input name="watchmenEmail" type="email" placeholder="watchmenEmail" ng-model="addCustomer.watchmenEmail" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Watchmen Number</label>
					<div class="col-sm-6">
						<input name="watchmenNumber" type="text" placeholder="watchmen Number" ng-model="addCustomer.watchmenNumber" class="form-control">
					</div>
				</div>
			</fieldset>
			<fieldset>
		 		 <legend>Tax Details</legend>
				<div class="form-group">
					<label class="col-sm-3 control-label">PAN Number</label>
					<div class="col-sm-6">
						<input name="panNumber" type="text" placeholder="Required Field" required ng-model="addCustomer.panNumber" class="form-control">
						<span class="help-block"
							ng-show="addCustomerForm.panNumber.$error.required && addCustomerForm.panNumber.$dirty">This
							field is required</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">TIN Number</label>
					<div class="col-sm-6">
						<input name="tinNumber" type="text" placeholder="Required Field" required ng-model="addCustomer.tinNumber" class="form-control">
						<span class="help-block"
							ng-show="addCustomerForm.tinNumber.$error.required && addCustomerForm.tinNumber.$dirty">This
							field is required</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">VAT Number</label>
					<div class="col-sm-6">
						<input name="vatNumber" type="text" placeholder="Required Field" required ng-model="addCustomer.vatNumber" class="form-control">
						<span class="help-block"
							ng-show="addCustomerForm.vatNumber.$error.required && addCustomerForm.vatNumber.$dirty">This
							field is required</span>
					</div>
				</fieldset>
			</div>
		 </fieldset>
		
			<div class="panel-footer">
			<div class="row">
				<div class="col-sm-6">
					<span ng-click="backPage();" class=" button button-clear fa fa-chevron-circle-left go-back"></span>
				</div>
				<div class="col-sm-6 ">
					<div class="btn-toolbar">
						<button class="btn-primary btn" ng-disabled="addCustomerForm.$invalid && addCustomerForm.$pristine" ng-click="submitAddCustomer()">Submit</button>
						<button class="btn-default btn" ng-click="resetAddBranch();">Reset</button>
					</div>
				</div>
			</div>
		</div>
		</form>
		
	</panel> 	
	</div>
</div>
</div>