<div class="rlms-wrapper">
<div class="rlms-container company-management" ng-controller="companyManagement">
	<h1 class="rlms-heading">Company Management</h1>
	<div class="row" ng-show="showCompany">
		<div class="col-lg-12 align-right">
			<button class="btn-primary btn rlms-btn" ng-click="goToAddCompany();">Add Company</button>
		</div>	
	</div>
		
	<div class="container-fluid" ng-show="showCompany">
	<alert ng-show="showAlert" type="{{alert.type}}"> <span
				ng-bind-html="alert.msg | safe_html"></alert>
	<h5 class="rlms-info"><span class="fa fa-info-circle"></span>List of registered companies</h5>
		<div class="row">
	      <div class="col-md-12">		
               <div class="input-icon right mb10">
                   <i class="fa fa-search"></i>
                   <input type="text" ng-model="filterOptions.filterText" class="form-control" placeholder="Search Company">
               </div>
               <div class ="data-table" style="min-height:300px;max-height:500px" ng-grid="gridOptions"></div>
	        </div>
	    </div>
	</div>
</div>
</div>